/* ====================
[links]
======================= */
@import url('default.css');


/* ====================
[variables]
======================= */
/* colors */
:root {
    --blue: rgba(3, 152, 252);
    --darkBlue: rgba(0, 105, 166);
    --lightblue: rgba(134, 188, 219);
    --black: rgba(20, 20, 20);
}

/* ====================
[modules]
======================= */


/* ====================
[layout]
======================= */
/* body */
body { font-family: Arial, Helvetica, sans-serif; }

/* header */
