/* ====================
[links]
======================= */
@import url('default.css');


/* ====================
[variables]
======================= */
/* colors */
:root {
    --blue: rgba(3, 152, 252);
    --darkBlue: rgba(0, 105, 166);
    --lightblue: rgba(134, 188, 219);
    --black: rgba(20, 20, 20);
    --grey: rgba(128, 128, 128);
}

/* ====================
[modules]
======================= */


/* ====================
[layout]
======================= */
/* body */
body { font-family: Arial, Helvetica, sans-serif; }

/* app-container */
.app-container { border: 3px solid goldenrod; max-width: 1440px; margin: 0 auto; }

/* header */
.header { border: 3px solid blue; padding: 30px; }
.header-title { text-align: center; margin: 1em auto; font-size: 3em; color: var(--blue); text-transform: uppercase; }

/* result */
.result-container { border: 3px solid pink; padding: 30px; }
.result-text { text-align: center; margin: 1em auto; font-size: 1.5em; color: var(--grey); }
.result-percentage { color: var(--blue); font-size: 2em; font-weight: bold; }

/* quiz form */
.main { border: 3px solid red; background: var(--blue); padding: 30px; }
.quiz-form fieldset { border: none; }
.quiz-form-title { color: white; font-weight: bold; font-size: 1.5em; border-bottom: 3px solid white; }
.question-set {  }
